# modified Allowlisting gitignore template for GO projects

# Ignore everything
*

# Then unignore...
# ...even if they are in subdirectories
!*/

!/.gitignore
!LICENSE
!Makefile
!README.md

!dprint.json

!docs/**
!scripts/**

!setup_environment
# !endeavour_packages.txt

!dotbash/*


# ignore everything written to .config by applications
dotconfig/**

# allowed folders and files
!dotconfig/btop/btop.conf

!dotconfig/code-flags.conf
!dotconfig/dprint/dprint.json
!dotconfig/electron-flags.conf

!dotconfig/fuzzel/*

!dotconfig/git/*

!dotconfig/gtk-*/settings.ini

!dotconfig/helm/
!dotconfig/helm/repositories.yaml

!dotconfig/helix/*.toml

!dotconfig/hypr/
!dotconfig/hypr/*

!dotconfig/kanshi/
!dotconfig/kanshi/config

!dotconfig/kitty/*.conf
!dotconfig/kitty/*.py

!dotconfig/lazygit/
!dotconfig/lazygit/config.yml

!dotconfig/mako/*

!dotconfig/neofetch/*

!dotconfig/niri/**

!dotconfig/pypoetry/*

!dotconfig/qt*/
!dotconfig/qt*/qt*

!dotconfig/river/
!dotconfig/river/init

!dotconfig/swaylock/
!dotconfig/swaylock/*

!dotconfig/systemd/
!dotconfig/systemd/user/swayidle.service

!dotconfig/task/
!dotconfig/task/**

!dotconfig/timewarrior/
!dotconfig/timewarrior/**

# !dotconfig/waybar/
# dotconfig/waybar/config.jsonc
!dotconfig/waybar/*-config
!dotconfig/waybar/*.css

!dotconfig/way-displays/
!dotconfig/way-displays/*

!dotconfig/xsettingsd/
!dotconfig/xsettingsd/*

!dotconfig/yazi/*.toml

!dotconfig/zathura/
!dotconfig/zathura/*

!templates/**
