# modified Allowlisting gitignore template for GO projects

# Ignore everything
*

# But not these files...
# ...even if they are in subdirectories
!*/

!/.gitignore
!LICENSE
!Makefile
!README.md

!docs/**
!scripts/*

!setup_environment

!dotbash/*

!dotconfig/btop/*
dotconfig/btop/*.log

!dotconfig/git/*
!dotconfig/gtk-*/settings.ini

# electron...stuff
!dotconfig/code-flags.conf
!dotconfig/electron-flags.conf

!dotconfig/fuzzel/fuzzel.ini
!dotconfig/helix/*.toml
dotconfig/helix/runtime/**

!dotconfig/helm/repositories.yaml
!dotconfig/kanshi/config
!dotconfig/git/*
!dotconfig/gtk-*/settings.ini
!dotconfig/hypr/*
!dotconfig/kitty/*
!dotconfig/lazygit/config.yml
!dotconfig/mako/*
!dotconfig/neofetch/*
!dotconfig/nvim/init.lua
!dotconfig/nvim/**
dotconfig/nvim/lua/plugins/example.lua
!dotconfig/pypoetry/*
!dotconfig/qt*/qt*
!dotconfig/river/init
!dotconfig/pypoetry/*
!dotconfig/qt*/qt*
!dotconfig/swaylock/*
!dotconfig/task/**
!dotconfig/waybar/*
dotconfig/waybar/config
!dotconfig/way-displays/*
!dotconfig/xsettingsd/*
!dotconfig/zathura/*

!dotconfig/timewarrior/**

!dotlocal/bin/*

!dotssh/config

!templates/**

# ignore everything written to .config by applications

dotconfig/nvim/lazy-lock.json
dotconfig/nvim/lazyvim.json
dotconfig/Code
dotconfig/microsoft-edge-*
